<app-toolbar>
    </app-toolbar>
    <br><br>
<div class="row" *ngIf="!share">

    <div class="col-md-4 col-sd-4 "></div>
      
    <div class="col-md-4 col-sd-4">
<div class="card">
    <h5 class="card-header">SHARE YOUR BEST MOMENT IN 2k18 WITH  </h5>
    <div class="card-body">
        <br>
        <div class="form-group">

            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="NAME" required>
            <small id="emailHelp" class="form-text text-muted">*Enter your name</small>

            <br>

            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="JUST SHARE" required></textarea>
            <small id="emailHelp" class="form-text text-muted">*Share your best moment </small>

          </div>
     <button class="button" (click)="shareMessage()">Submit </button>
        </div>
  </div>
       
  </div>

  <div class="col-md-4 col-sd-4"></div>

  </div>
  
  
  <div class="row" *ngIf="share && !link">

    <div class="col-md-4 col-sd-4 "></div>
      
    <div class="col-md-4 col-sd-4">
            <div class="card">
            <h5 class="card-header">CREATE YOUR OWN *-*  </h5>

    <div class="card-body">
        <br>
        <div class="form-group">

            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="NAME" required>
            <small id="emailHelp" class="form-text text-muted">*Enter your name</small>

          </div>

     <button class="button" (click)="generateLink()">Create </button>
        </div>
  </div>
       
  </div>
  </div>

  <div class="row" *ngIf="link">

    <div class="col-md-4 col-sd-4 "></div>
      
    <div class="col-md-4 col-sd-4">
            <div class="card">
            <h5 class="card-header ss"> SEND TO YOUR FRIENDS  </h5>

    <div class="card-body">
        <br>
        <div class="form-group">

          <div>
              <b><a href="">https://www.bestmomentsin2k18.com/share/?id=231ae31</a></b>
          </div> 
            
          

            <br>

            <h5 class="textinfo">Send to your friends to know your best moment with them and start a new year..!!</h5>


<!-- Add font awesome icons -->
<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank" rel="noopener"><img src="./assets/fb.png"></a>
<a href="fb-messenger://share/?link= https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fsharing%2Freference%2Fsend-dialog&app_id=123456789"><img src="./assets/messenger.png"></a>
<a href="whatsapp://send?text=http://www.example.com"><img src="./assets/whatsapp.png"></a>



          </div>

        </div>
  </div>
       
  </div>
  </div>
  